* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Frank Ruhl Libre', serif;
}

section {
    background-color: white;
}

a {
    text-decoration: none;
    color: #fc1c1c;
}

footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

footer .row a {
    color: grey;
}

button {
    border-radius: 3px;
    background-color: rgb(181, 176, 176, .3);
    padding: 2px;
    border: none;

}

button:hover {
    background: #fc1c1c;
    color: white;
    opacity: 75%
}

i {
    margin-left: 8px;
}

p {
    font-family: Helvetica;
    font-size: 18px;
    margin: 0px 0px 20px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 28px;
}

h4 {
    font-family: "Roboto Thin";
}

button.dropbtn {
    font-family: "Roboto Thin";
    font-size: 16px;
    background-color: white;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    padding: 0px 30px;
    z-index: 100000;
    background-color: white;
    height: 11vh;
    border-bottom: solid 2px #B5b0b0;
}

#dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.mainMenu {
    padding: 5px;
}

header .logo {
    position: relative;
    font-weight: 300;
    color: #fc1c1c;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    padding-top: 4px;
}

.arrow {
    border: solid #fc1c1c;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.dropbtn {
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: solid 2px #B5b0b0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #B5b0b0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #B5b0b0;
}


header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
    color: #fc1c1c;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fc1c1c;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.6s;
    z-index: 100000;
}

.title {
    text-align: center;
    color: #fc1c1c;
    margin-left: 120px;
    font-size: 2em;
    text-transform: uppercase;
}

/*Search bar and background display*/
.banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25vh;
    /*animation: rotateBackground 80s linear infinite;*/
    background-size: cover;
    /* -webkit-mask-image: linear-gradient(white, rgba(0, 0, 0, 0));*/
    margin-bottom: 0px;
    background-image: url('../img/grey-background1.jpeg');
}


/*Test new search bar*/
.search-bar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    background-position: center;
    background-size: cover;
    min-height: 40vh;

}

#search-bar-form {
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    width: 40%;
    max-width: 700px;
    height: 60px;
    min-height: 6vh;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

#search-bar-form input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: white;

}

#search-bar button i {
    width: 45px;
    align-items: center;
    background: transparent;
}

#search-btn:hover i {
    background: #fc1c1c;
}

#search-btn:hover {
    background: #fc1c1c;
    opacity: 75%
}

#search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: transparent;
}

tn {
    background: transparent;
    color: white;
    border-radius: 40px 40px 40px 40px;
    height: 60px;
    width: 100px;
    margin-left: 40px
}

#search-bar.search-content {
    background: transparent;
}

#search-icon {
    z-index: 100000;
    height: 25px;
    width: 25px;
}

::placeholder {
    color: white;
}

#follow {
    color: #B5b0b0;
    font-family: sans-serif;
}

.container {
    position: relative;
}

/*footer display*/

#footer {
    background-color: white;
    color: black;
    font-size: 14px;
}

.footer-container {
    margin: auto;
    display: flex;
    background-color: white;
}

.footer-content p {
    text-align: center;

}

#footer-bottom {
    border-top: solid 2px #B5b0b0;
    background: white;
    min-height: 25vh;
}

/*test footer*/
.footer-container {
    display: grid;
    grid-template-rows: auto 1fr; /* Two rows, first auto height, second takes the remaining space */
    margin-bottom: 50px;
    min-height: 25vh;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border-top: solid 2px #B5b0b0;
    background-color: white;
}

#footer-top {
    display: flex;
    justify-content: space-between; /* Space elements apart */
    align-items: center; /* Center items vertically */
    width: 100%;
}

#footer-signup,
.footer-options {
    flex: 1;
    box-sizing: border-box;
    padding: 30px;
    color: #fc1c1c;
}

.footer-options ul {
    padding: 5px;
}

.footer-options ul a:hover {
    text-decoration: underline;
}

#footer-signup img, h3, h4, form {
    color: black;
    padding: 7px;
}

.footer {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    color: black;
    font-size: 14px;
}

/*end test*/

body {
    margin: 0;
    overflow-x: hidden;
}

.footer {
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
    margin-top: 20px;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width: 720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}

/*styling for search results, changes grid layout depending on size of the screen*/
.recipe-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 15px;
    margin: 2px;
    margin-top: 4px;
}

.recipe-image {
    max-width: 312px;
    max-height: 231px;
}

.recipe-item {
    max-width: 312px;
    padding-bottom: 5px;
}

.recipe-details-btn {
    margin-left: 120px;
}


@media (max-width: 1300px) {
    .recipe-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .recipe-item {
        justify-content: center;
    }
}

@media (max-width: 1000px) {
    .recipe-container {
        grid-template-columns: 1fr 1fr;
    }

    p {
        margin-bottom: 10px;
    }

    .recipe-item {
        max-width: 312px;
        max-height: 388px;
        justify-content: center;
    }
}

@media (max-width: 630px) {
    .recipe-container {
        grid-template-columns: 1fr;
        margin-bottom: 10px;
    }

    .recipe-item {
        justify-content: center;
        margin-bottom: 10px;
    }
}

/* Styling of the modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    align-items: center;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#modalTitle {
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*Hamburger styling before and after screen less than 1090px*/
.logo {
    order: 0; /* Logo is initially the first item */
}

#menu-icon {
    display: none; /* Initially hide the menu icon */
    cursor: pointer;
    font-size: 44px;
    margin-right: 50px;
}

/* Media query for screens less than 1090px */
@media (max-width: 1090px) {
    header {
        align-items: center;
    }

    header .logo {
        order: 1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menu-icon {
        display: block;
        order: 2;
        position: fixed;
        top: 10px;
        left: 10px;
        cursor: pointer;
        width: 23px;
        height: 30px;
        margin-right: 50px;
        margin-left: 20px;
        color: #fc1c1c;
    }

    .mainMenu {
        order: 3;
    }

    #dropdown-container {
        display: none;
        position: fixed;
        top: 60px;
        left: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
        max-width: 25vh;
        text-align: center;
        margin-top: 10px;
        flex: 1;
        justify-content: flex-end;
    }
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark, semi-transparent background */
    z-index: 2;
/
}

/* Add this rule to disable scrolling when the overlay is displayed */
body.overlay-open {
    overflow: hidden;
}

@media (min-width: 1091px) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
}





