/********** Recipe detail section ***********/
.recipe-detail {
    padding-top: 100px;
    padding-bottom: 60px;
    background-color: white;
}

.recipe-detail__header {
    padding-bottom: 50px;
}

.recipe-detail__heading {
    position: relative;
    color: #474747;
    font-size: 36px;
    font-weight: 600;
}

.recipe-detail__heading::before {
    content: "For Beginners";
    position: absolute;
    top: -50px;
    left: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;

    background-color: #fc1c1c;

    font-size: 16px;
    font-weight: normal;
    color: #fff;
}

.recipe-detail__heading::after {
    content: "";
    position: absolute;
    top: -50px;
    left: 150px;

    width: 0;
    border-width: 25px 15px;
    border-style: solid;
    border-color: #fc1c1c transparent transparent #fc1c1c;
}

.recipe-detail__date {
    color: #a4a4a4;
}

ul.recipe-detail__rating {
    display: flex;
    flex-flow: row nowrap;
    padding-top: 25px;
    list-style: none;
}

ul.recipe-detail__rating > li {
    padding-right: 3px;
}

ul.recipe-detail__rating i {
    color: #fbb710;
}

ul.recipe-detail__rating > li:last-child i {
    color: #e0e3e4;
}

.recipe-detail__box {
    position: relative;
    padding: 50px 35px 50px 50px;
    background-color: #f7efef;
}

.recipe-detail__title {
    padding-top: 120px;
}

.recipe-detail__summary {
    position: absolute;
    top: 0;
    left: 0;

    padding: 20px 118px 20px 50px;
    background-color: #fc1c1c;
    color: #fff;

    font-size: 15px;
    font-weight: normal;
    line-height: 2;
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .recipe-detail__summary {
        padding: 20px 400px 20px 50px;
    }
}

/* Laptop */
@media only screen and (min-width: 992px) {
    .recipe-detail__summary {
        padding: 20px 170px 20px 50px;
    }
}

.recipe-detail__summary::after {
    content: "";
    position: absolute;
    right: -58px;
    top: 0;

    width: 0;
    border-width: 62px 29px;
    border-style: solid;
    border-color: #fc1c1c transparent transparent #fc1c1c;
}

.recipe-detail__summary p {
    color: #ffffff;
}

/*********** Recipe-detail check-box-list **********/

ul.recipe-detail__check-box-list > li {
    position: relative;
    padding-top: 35px;
    list-style: none;
}

ul.recipe-detail__check-box-list input[type="checkbox"] {
    position: absolute;
    padding: 30px;
    visibility: hidden;
}

ul.recipe-detail__check-box-list label.square {
    display: inline-block;
    padding-left: 50px;
    color: #212529;
    font-size: 16px;

    cursor: pointer;
}

ul.recipe-detail__check-box-list label.square::before {
    content: "";
    position: absolute;
    top: 33px;
    left: 0;

    width: 25px;
    height: 25px;
    border: 1px solid #aaaaaa;
    background-color: #fff;

    cursor: pointer;
}

ul.recipe-detail__check-box-list label.square::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 9px;

    width: 7px;
    height: 15px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #fff;

    visibility: hidden;
    transform: rotate(45deg);
}

.recipe-detail__check-box
input[type="checkbox"]:checked
+ label.square::before {
    border-color: transparent;
    background-color: #fc1c1c;
}

.recipe-detail__check-box input[type="checkbox"]:checked + label.square::after {
    visibility: visible;
}

/************* Recipe-detail content *************/

.recipe-detail__content {
    padding-top: 50px;
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .recipe-detail__content {
        padding-left: 15px;
    }
}

/* Laptop */
@media only screen and (min-width: 992px) {
    .recipe-detail__content {
        padding-top: 0;
        list-style: none;
    }
}

.recipe-detail__content > li {
    padding-bottom: 50px;
}

.recipe-detail__item {
    display: flex;
    flex-flow: row nowrap;
}

.recipe-detail__description {
    padding-top: 20px;
    padding-left: 15px;
    line-height: 2;
}

.box {
    width: 40%;
    height: 200px;
    background: orange;
    border-radius: 2px;
    padding: 10px;
    color: white;
    text-align: center;
}

.a {
    margin: 120vh auto 0 auto;
}

.b {
    margin: 40vh auto 0 auto;
}

.row {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -15px;
}

[class^="col"] {
    padding: 0 15px;
    width: 100%;
}

/* Extra Small */
.col-1 {
    width: 8.3333333333%;
}

.col-2 {
    width: 16.6666666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333333333%;
}

.col-5 {
    width: 41.6666666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3333333333%;
}

.col-8 {
    width: 66.6666666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3333333333%;
}

.col-11 {
    width: 91.6666666667%;
}

.col-12 {
    width: 100%;
}

/* Small */
@media only screen and (min-width: 576px) {
    .col-sm-1 {
        width: 8.3333333333%;
    }

    .col-sm-2 {
        width: 16.6666666667%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.3333333333%;
    }

    .col-sm-5 {
        width: 41.6666666667%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.3333333333%;
    }

    .col-sm-8 {
        width: 66.6666666667%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.3333333333%;
    }

    .col-sm-11 {
        width: 91.6666666667%;
    }

    .col-sm-12 {
        width: 100%;
    }
}

/* Medium */
@media only screen and (min-width: 768px) {
    .col-md-1 {
        width: 8.3333333333%;
    }

    .col-md-2 {
        width: 16.6666666667%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.3333333333%;
    }

    .col-md-5 {
        width: 41.6666666667%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.3333333333%;
    }

    .col-md-8 {
        width: 66.6666666667%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.3333333333%;
    }

    .col-md-11 {
        width: 91.6666666667%;
    }

    .col-md-12 {
        width: 100%;
    }
}

/* Large */
@media only screen and (min-width: 992px) {
    .col-lg-1 {
        width: 8.3333333333%;
    }

    .col-lg-2 {
        width: 16.6666666667%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.3333333333%;
    }

    .col-lg-5 {
        width: 41.6666666667%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.3333333333%;
    }

    .col-lg-8 {
        width: 66.6666666667%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-10 {
        width: 83.3333333333%;
    }

    .col-lg-11 {
        width: 91.6666666667%;
    }

    .col-lg-12 {
        width: 100%;
    }
}

/* Extra Large */
@media only screen and (min-width: 1200px) {
    .col-xl-1 {
        width: 8.3333333333%;
    }

    .col-xl-2 {
        width: 16.6666666667%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-4 {
        width: 33.3333333333%;
    }

    .col-xl-5 {
        width: 41.6666666667%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-7 {
        width: 58.3333333333%;
    }

    .col-xl-8 {
        width: 66.6666666667%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-10 {
        width: 83.3333333333%;
    }

    .col-xl-11 {
        width: 91.6666666667%;
    }

    .col-xl-12 {
        width: 100%;
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

/*********** Responsive ***********/

/* Small */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/* Medium */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/* Large */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

/* Extra large */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
