#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;  /* To ensure the video stays behind other content */
}

/*------------------------- Layout styles ------------------------*/

body, html {
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.page {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}




/*------------------------- Header ------------------------*/
.header {


	width:940px;
	margin:0 auto;
	height:105px;
	padding:36px 10px 0;
}
.header a#logo {
	display:block;
	float:left;
	outline:none;
}
.header a#logo img {
	border:0;
}
.header ul {
	margin:0;
	list-style:none;
	padding:13px 0 0;
	float:right;
}
.header ul li {
	float:left;
	margin:0 0 0 63px;
}
.header ul li.selected a, .header ul li a:hover {
	color:#f78117;
}
.header ul li a {
	font-size:16px;
	text-decoration:none;
	color:#FFFFFF;
	outline:none;
}
/*------------------------- Body ------------------------*/
.body {
	width:940px;
	margin:0 auto;
	padding:0 10px;
	overflow:hidden;
}
.body div#featured {

	height:448px;
	padding:0 0 17px;
}
.body div#featured h3 {
	color:#FFFFFF;
	font-size:36px;

	margin:0 0 30px;
	width:490px;
	padding:100px 0 0;
	font-weight:normal;
}
.body div#featured p {
	width:480px;
	color:#FFFFFF;

	font-size:16px;
	line-height:25px;
	text-shadow: 0 1px 0 #fcfcfc;
	text-align:justify;
	margin:0;
}
.body div#featured input {

	border:0;
	height:48px;
	width:216px;

	color:#fff;
	font-size:30px;
	margin:28px 0 0 125px;
	cursor:pointer;
	outline:none;
	background-color: transparent;

}
.body ul.bloc {
	list-style:none;
	margin:40px 0 0;
	padding:0 0 50px;

	overflow:hidden;
}
.body ul.bloc li:first-child {
	margin:60px 0 0;
}
.body ul.bloc li {
	float:left;

	margin:60px 0 0 48px;
	height:400px;
	padding:0;
}
.body ul.bloc li div {
	width:281px;
	height:380px;
	text-align:center;
	padding: 8px 0 20px 0;
	float:none;
	margin:0;

}
.body ul.bloc li div a img {
	border:0;
	margin:0 0 0 -3px;
}
.body ul.bloc li div a img:hover {
	filter:alpha(opacity=80);
	opacity:0.8;
}
.body ul.bloc li div p {
	width:258px;
	text-align:justify;
	color:#FFFFFF;

	margin:17px 0 0 10px;
	line-height:20px;
	font-size:14px;

	padding:0;
}
.body ul.bloc li div section {
	width:258px;
	text-align:justify;
	color:#FFFFFF;

	margin:17px 0 0 10px;
	line-height:20px;
	font-size:10px;

	padding-left: 0;
	text-indent: -10px
}


.body ul.bloc li div a:first-child {
	margin:0;
	padding:0;

	width:auto;
}
.body ul.bloc li div a:hover {
	color:#F78117;
}
.body ul.bloc li div a {
	color:#606060;

	font-style:italic;
	text-decoration:none;
	padding:98px 0 0;
	margin:32px auto 0;
	display:block;
	width: 150px;

	outline:none;
	font-size:16px;
	font-weight:normal;
	text-shadow: 0 1px 0 #fcfcfc;
}
.body h3 {

	font-size:16px;
	font-weight:bold;
	color:#fffff;
	margin:15px 0 0;
	line-height:21px;
}
.body p {

	font-size:16px;
	text-align:justify;
	color:#ffffff;
	margin:0 0 20px;
	line-height:21px;
}
.body p a {
	outline:none;
	color:#ffffff;
}
.body ul {
	list-style:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
.body ul li:first-child {

	padding:0 0 30px;
}
.body ul li {
	overflow:hidden;

	padding:30px 0;
}
.body ul li div.featured {

	width:281px;
	height:292px;
	text-align: center;
	margin:0;
}
.body ul li div.featured img {
	margin:10px 0 0 -3px;
	border:0;
}
.body ul li div.featured ul {
	overflow:hidden;
	margin:2px 0 0 10px;
}
.body ul li div.featured ul li:first-child {
	margin:0;
}
.body ul li div.featured ul li {
	float:left;
	margin:0 0 0 18px;

	padding:0;
}
.body ul li div.featured ul li a {
	padding:0;
}
.body ul li div.featured ul li a img {
	margin:0;
}
.body ul li div.featured ul li a img:hover {
	filter:alpha(opacity=80);
	opacity:0.8;
}
.body ul li div.featured a {
	clear:both;
	display:block;
	font-size:13px;

	text-decoration:none;
	color:#8a8889;
	font-weight:bold;
	padding:5px 0 0;
	width:auto;
	outline:none;
}
.body ul li div {
	float:left;
	margin:0 0 0 50px;
	width:609px;

}
.body ul li div h3 {
	margin:0;
	font-size:20px;
	font-weight:bold;

	color:#f28220;
	line-height:22px;
}
.body ul li div p {
	line-height:22px;

	font-size:14px;
	color:#ffffff;
	padding:0 0 90px;
	margin:0;
}
.body ul.paging {
	margin:15px 0 10px 210px;
}
.body ul.paging li {
	float:left;
	padding:0 5px;

}
.body ul.paging li a {
	text-decoration:none;
	color:#ff7e0d;

	font-size:12px;
}
.body ul.paging li a:hover {
	color:#5D5D5D;
}
/*------------------------- Footer ------------------------*/
.footer {
	width:940px;

	padding:65px 10px 207px;
	margin:0 auto;
	overflow:hidden;
}
.footer ul {
	list-style:none;
	margin:0 0 0 60px;
	padding:0;
	overflow:hidden;
	float:left;
}
.footer ul li:first-child a {
	border:none;
	padding:0 6px 0 0;

}
.footer ul li {
	float:left;
}
.footer ul li a:hover {
	color:#F78117;
}
.footer ul li a {
	border-width: 1px;
	border-color:#FFFFFF;
	border-style: none none none solid;
	color:#FFFFFF;
	font-size:10px;

	text-decoration:none;
	font-weight:bold;
	padding:0 6px;
	outline:none;
}
.footer p {
	color:#FFFFFF;
	font-size:10px;

	font-weight:bold;
	float:left;
	margin:6px 0 0 135px;
}
.footer div.connect {
	float:left;
	margin:0 0 0 92px;
}
.footer div.connect a {
	float:left;
	outline:none;
}

.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
